<div style="margin-top: 5rem" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>X1</mat-label>
      <input matInput type="number" [(ngModel)]="x1"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Y1</mat-label>
      <input matInput type="number" [(ngModel)]="y1"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>X2</mat-label>
      <input matInput type="number" [(ngModel)]="x2"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Y2</mat-label>
      <input matInput type="number" [(ngModel)]="y2"/>
    </mat-form-field>
    
    <button mat-raised-button (click)="calculate()">Calculate</button>
    <div>
      {{ result }}
    </div>
  </div>